.TextArea-PA {
  width: 95%;
  margin-left: 2.5%;
  height: 60px;
  font-size: 34px;
  line-height: 100%;
}
.GridArea-PA {
  display: grid;
  grid-template-columns: 42% 42% 10%;
}
.RemoveBtn-PA {
  width: 60px;
  cursor: pointer;
}
svg[aria-label="Close-PA"] > g {
  fill: #72767d;
}
div[class="GridArea-PA"] > div > div[class~="powercord-settings-item"] {
  padding-top: 15%;
}
